<ion-view view-title="">

  <ion-content padding="true">

    <div class="row row-center">
      <div class="col"><h1 class="welcome-text">Seja Bem-vindo!</h1></div>
    </div>

    <div class="row row-center">
      <div class="col"><h1 class="logo-text">Perseus</h1></div>
    </div>
    <div class="row row-center">
      <div class="col"><i class="ion-android-arrow-down"></i></div>
    </div>
    <br>
    <div class="row">
      <div class="col col-offset-25">
        <a href="#/categories"><button class="intro button">Produtos</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col col-offset-25">
        <a href="#/promocoes"><button class="intro button">Promoções</button></a>
      </div>
    </div>
    <br>
    <div class="row row-center">
      <div class="col"><i class="ion-ios-cart-outline"></i></div>
    </div>
  </ion-content>
</ion-view>
