<ion-view view-title="Produtos Disponíveis">
  <ion-content overflow-scroll="false" ng-controller="ProductCtrl as product">
    <ion-list>

      <ion-item class="item-text-wrap" ng-repeat="prod in pro" ui-sref="product-detail({id: prod.id})">

        <div class="row row-center">
          <div class="col col-25">
             <img class="product-image" ng-src="{{prod.image}}" fallback-src="{{'img/fa-shopping-basket_60.png'}}"/>
          </div>
          <div class="col col-90">
            <h3 class="product-name">{{prod.name}}</h3><hr>
            <h4 class="product-brand">{{prod.brand}}</h4><hr>
            <h5 class="product-price"> {{prod.currency}} {{prod.price}}</h5>
          </div>
        </div>

      </ion-item>

    </ion-list>

      <ion-infinite-scroll
        ng-if="!noMoreItemsAvailable"
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>
