<ion-view view-title="Produto">
  <ion-content class="product-detail-container" ng-controller="ProductDetailCtrl as prodetail">

    <ion-item class="item-text-wrap product-detail-item">
        <div class="row row-center">
          <div class="col">
            <h3 class="product-detail-name">{{prodetail.name}}</h3>
          </div>
        </div>
        <div class="row row-center">
          <div class="col">
            <img class="product-image-detail" ng-src="{{prodetail.images.hdpi}}" fallback-src="{{'img/fa-shopping-basket_320.png'}}"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50"><button class="button ion-ios-plus-outline" ng-click="modal.show()"></button></div>
          <div class="col col-50 col-offset-10"><button ng-click="issocialButton = !issocialButton" class="button ion-android-share-alt"></button></div>
        </div>
      <div class="row social" ng-show="issocialButton">
        <div class="col col-10 col-offset-50"><button class="button button-positive ion-social-twitter" ng-click="shareViaTwitter(prodetail)"></button></div>
        <div class="col col-90 col-offset-25"><button class="button button-positive ion-social-facebook" ng-click="shareViaFacebook(prodetail)"></button></div>
        </div>

            <div class=""><h4 class="product-detail-brand">{{prodetail.brand}}</h4></div>
            <div class=""><h5 class="product-detail-price"> {{prodetail.currency}} {{prodetail.price}}</h5></div>




        <div class="barcode" barcode-generator="{{prodetail.ean}}"></div>
        <h5 class="bar-number">{{prodetail.ean}}</h5>

      </ion-item>
  </ion-content>


  <script id="modal.html" type="text/ng-template">
    <div class="modal">
      <header class="bar bar-header bar-positive">
        <h3 class="title">{{prodetail.name}}</h3>
        <button class="button button-clear" ng-click="modal.hide()"><span class="icon ion-ios-close-empty"></span></button>
      </header>
      <content has-header="true" padding="true">
        <div class="row row-center">
          <img class="product-image-detail-modal" ng-src="{{prodetail.images.xhdpi}}" fallback-src="{{'img/fa-shopping-basket_320.png'}}"/>
        </div>
      </content>
    </div>
  </script>
</ion-view>
