$ionicons-font-path: "../lib/ionic/fonts" !default;

@import "www/lib/ionic/scss/ionic";
$fira: "Fira Sans",sans-serif;
$sourcepro: 'Source Sans Pro', Verdana, sans-serif;
$right:'Righteous','Arial',sans-serif;
$lightblue:#2E9FC2;
$darkblue:#1D647A;
$green:#037A67;
$red:#DD4137;
$white:white;

h1, h2, h3, h4, h5{
  font-family:$sourcepro;
}
.barcode{
  height:80px;
  text-align: center;

}
.item{
  border:none !important;
}

h1.welcome-text{
  font-family: $fira;
  font-weight:200;
  margin-top:20px;
  font-size:2.2em;
  color:$white;
}
.pane{
  background-color:$green;
}
.product-brand, .bar.bar-positive .title, .product-promo, .product-poupa, .product-poupa-price, .product-detail-brand, .partilha{
  text-transform:uppercase;
}
ion-content .product-detail-container{
  background-color:$white;
}
button.intro-prod,.intro-promo{
  font-size:2em;
  color:$lightblue;
  font-weight:600;
  background-color:$white;
  border-radius:8px;
  padding:5px 10px;
  margin-top:10px;
  border:none;
}
.ion-ios-cart-outline{
  font-size:12em;
  color:$white;
}


.logo-text{
  font-family:$right;
  font-size:5em;
  font-weight: 500;
  color: $darkblue;
  }

.product-promo-price{
  color:black;
}
.product-promo{
  color:$red;
  font-weight: 600;
  font-size:.8em;
}
.promo-date-text{
  color:$darkblue;
  background-color:$white;
  font-size:.8em;
  font-weight:300;
}
.product-poupa, br.product-poupa-price {
  text-align: center;
  background-color:#B08300;
  color:$white;
  margin-left:20%;
  font-size: 0.8em;
  font-weight:300;
  border-radius:100px;
  padding:5px 0;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(176,131,0,0.4);
  -moz-box-shadow: 1px 1px 5px 2px rgba(176,131,0,0.4);
  box-shadow: 1px 1px 5px 2px rgba(176,131,0,0.4);
}
.product-price-promo{
  text-align:center;
  color:$darkblue;
  margin-left:20%;
  align-content: center;
  font-size:0.9em;
  background-color:$white;
  border-radius:250px;
  padding:5px 10px;
  border:1px double $darkblue;
}
h4 {
  font-weight: 600;
  color: $green;
  &.product-detail-brand {
    font-size: 1em;
  }
  &.product-brand {
    font-size: 0.8em;
  }
}

h5 {
  &.product-detail-price {
    font-size: 1.2em;
    font-weight: 600;
    color: $white;
    background-color: $green;
  }
  &.product-price {
    font-size: 1.2em;
    color: $white;
    background-color: $green;
  }
  &.bar-number{
    text-align:center;
    font-size:1em;
  }
}

h3 {
  color: $green;
  &.product-name {
    font-size: 1.1em;
    font-weight: 300;
  }
  &.product-detail-name {
    font-size: 1.3em;
    font-weight: 600;
  }
  &.category-name {
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
  }
}
  .product-name-promo{
    font-size:.8em;
    font-weight:300;
    color:$green;
  }


  h2.partilha{
    background-color:$green;
    color:$white;
    padding:5px 0;
    font-weight:300;
    text-align:center;
  }


  .row.social-icons{
    margin-top:10px;
  }

  .bar.bar-positive{
    border-bottom:3px solid $lightblue !important;
    & .title {
      font-family: $fira;
      font-weight: 300;
      font-size: 1.1em;
    }
  }

  i.ion-android-arrow-down::before{
    width:50px;
  }

  i.ion-android-arrow-down{
    font-size:4em;
    color:$white;
    position:relative;
    left:50%;
    width:50px;
    margin-left:-25px;
    background-color:$lightblue;
    -webkit-animation: flash 2s ease-out;
    -moz-animation: flash 2s ease-out;
    animation: flash 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius:24px;
  }
  hr{
    visibility: hidden;
    margin:0;
  }

  @-moz-keyframes flash {
    0% {-moz-transform: initial;opacity: 0.2;}
    25% {-moz-transform: initial;opacity: 0.2;}
    50% {-moz-transform: initial;opacity: 0.5;}
    75% {-moz-transform: initial;opacity: 0.8;}
    100% {-moz-transform: initial;opacity: 0.2;}
  }

  @-webkit-keyframes flash {
    0% {-webkit-transform: initial; opacity:0.2;}
    25% {-webkit-transform: initial;opacity: 0.2;}
    50% {-webkit-transform: initial;opacity: 0.5;}
    75% {-webkit-transform: initial;opacity: 0.8;}
    100% {-webkit-transform: initial;opacity: 0.2;}
  }

  div {
    .container > a, > i, > h1{
      display: block;
      text-align: center;
      }
  }

.slide-in-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 800ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 800ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }


img {
  align-content: center;
  display: block;
  margin: 0 auto;
  &.product-image {
    max-width: 60px;
  }
  &.product-image-detail {
    max-width: 250px;
  }
  &.product-image-detail-modal {
    max-width: 300px;
    margin-top: 100px;
    -webkit-animation: modal_anim 3s forwards;
    -moz-animation: modal_anim 3s forwards;
    animation: modal_anim 3s forwards;
  }
  &.product-image-promo {
    max-width: 100px;
  }
}

.ion-ios-plus-outline{
  color:$green;
  position: relative;
  font-size:2.3em;
  padding: 10px;
  -webkit-animation: plus 2s infinite ease-out;
  animation: plus 2s infinite ease-out;

}
.ion-social-twitter, .ion-social-facebook{
  -webkit-animation: social 2s forwards;
  animation: social 2s forwards;
  font-size:1.5em;
}

@-webkit-keyframes social{
0% {-webkit-transform:translateY(-100%);margin:0px;}
//50%{-webkit-transform:translateY(-50%);}
100%{-webkit-transform:translateY(0%);margin:10px;}
}

@keyframes social{
  0% {transform:translateY(-100%); margin:0px;}
  //50%{transform:translateY(-50%);}
  100%{transform:translateY(0%);margin:10px;}
}

@-webkit-keyframes plus{
  //0% {color:$darkblue; -webkit-transform:translateY(-100%);}
  //50% {color:$lightblue; -webkit-transform:translateY(0%);}
  //100%{color:$white; -webkit-transform:translateY(-100%);}
  0% {
    -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -webkit-transform:translateY(-50%);
  }
  40% {
    -webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -webkit-transform:translateY(-30%);
  }
  70% {
    -webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform:translateY(-15%);
  }
  90% {
    -webkit-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform:translateY(-10%);
  }
  97% {
    -webkit-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform:translateY(-5%);
  }
  100% {
    -webkit-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

@keyframes plus{
  0% {
    transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }

}
