/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css


$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@font-face {
  font-family: "AUSTRALIA TITLE";
  src: url('fonts/AUSTRALIA-TITLE.otf')
  format("opentype");
}

@font-face {
  font-family: "Grand Quatre";
  src: url('fonts/grand_quatre.ttf')
  format("truetype");
}
.homepage{
  //margin-top:50%;
}
.welcome-text, .logo-text{
  text-align:center;
}

.welcome-text{
  color:white;
}
.pane{
  background-color:#037A67;
}
h4.product-brand{
  text-transform:uppercase;
}
ion-content .product-detail-container{
  background-color:white;
}

.ion-social-twitter, .ion-social-facebook{
  font-size:1.5em;
}
button.intro{
  font-family:'Source Sans Pro', Verdana, sans-serif;
  font-size:2em;
  color:#2E9FC2;
  font-weight:800;
  //margin-left:27%;
  background-color:white;
  border-radius:8px;
  padding:10px 15px;
  border:none;
  text-align:center;
}
.ion-ios-cart-outline{
  font-size:10em;
  color:white;
  display: block;
  margin-left:30%;
}
img.product-image{
  max-width:60px;
  align-content:center;
}
img.product-image-detail{
  display: block;
  margin: 0 auto;
  max-width:320px;
}
h1.logo-text{
  font-family:'Righteous','Arial',sans-serif;
  font-size:5.5em;
  font-weight: 500;
  color: #1D647A;
  text-align:center;
}
h3.category-name{
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight:300;
  font-size:1.2em;
  text-align: left;
  color:#037A67;
}
h3.product-name-promo, h5.product-promo, p.promo-date-text, br.product-poupa-price, h5.product-promo-price, h5.product-promo, h3.product-name, h3.product-detail-name, h4.product-brand, h4.product-detail-brand, h5.product-detail-brand, h5.product-detail-price{
  font-family:'Source Sans Pro','Arial',sans-serif;
}
img.product-image-detail{
  display: block;
  margin: 0 auto;
}
h5.product-promo-price{
color:black;
}

h5.product-promo{
  color:#DD4137;
  font-weight: 600;
  text-transform:uppercase;
  font-size:.8em;
  margin-left:23%;
}

p.promo-date-text{

  color:#1D647A;
  background-color:white;
  font-size:.8em;
  font-weight:300;
}
h5.product-poupa, br.product-poupa-price {
  text-align: center;
  background-color:#B08300;
  color:white;
  margin-left:20%;
  font-size: 0.8em;
  font-weight:300;
 border-radius:100px;
  padding:5px 0px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(176,131,0,0.4);
  -moz-box-shadow: 1px 1px 5px 2px rgba(176,131,0,0.4);
  box-shadow: 1px 1px 5px 2px rgba(176,131,0,0.4);
  text-transform:uppercase;
}
h5.product-price-promo{
  text-align:center;
  color:#1D647A;
  margin-left:20%;
  align-content: center;
  font-size:0.9em;
  background-color:white;
  border-radius:250px;
  padding:5px 10px;
  border:1px double #1D647A;
}
h4.product-detail-brand{
  font-size:1.1em;
  font-weight:600;
  color:#037A67;
  text-transform:uppercase;
}

h5.product-detail-price{
  font-size:1.2em;
  font-weight:600;
  background-color:#037A67;
  color:white;
}
h3.product-name{
  font-size:1.1em;
  font-weight:300;
  color:#037A67;
}

h3.product-name-promo{
  font-size:.8em;
  font-weight:300;
  color:#037A67;
}
h3.product-detail-name{
  font-size:1.5em;
  font-weight:600;
  color:#037A67;
  text-align: center;
}

h4.product-brand{
  font-size:0.8em;
  font-weight:600;
  color:#037A67;
}
h5.product-price{
  font-size:1.2em;
  color:white;
  background-color:#037A67;
}
.item{
  border:none !important;
}
h2.partilha{
  background-color:#037A67;
  color:white;
  font-family:'Source Sans Pro','Arial',sans-serif;
  padding:5px 0;
  font-weight:300;
  text-transform: uppercase;
  text-align:center;
}
.ion-ios-plus-outline{
  color:#037A67;
  font-size:2.3em;
}
img.product-image-detail-modal{
  align-content: center;
  max-width:350px;
  margin-top:20%;
}

img.product-image-promo{
  max-width:100px;
  align-content:center;
}

.row.social-icons{
  margin-top:10px;
}
hr .line{
  color:black;
  height:15px;
}
.welcome-text{
  font-family: "Fira Sans",sans-serif;
  font-weight:300;
  font-size:2.5em;
}
.spinner svg{
  fill:#2E9FC2;
  width:40px;
  height:40px;
  margin-top:5px;
  stroke:#2E9FC2;
}
hr{
  visibility: hidden;
  margin:0 !important;
}
.bar.bar-positive .title{
  font-family: 'Fira Sans', sans-serif !important;
  font-weight:300;
}
.bar.bar-positive{
  border-bottom:3px solid #2E9FC2 !important;
}
ion-nav-bar .bar-positive{
  text-transform:uppercase;
}
.ion-android-arrow-down{
  font-size:4em;
  color:white;
  margin-left:40%;
  background-color:#1D647A;
  -webkit-animation: flash 2s ease-out;
  -moz-animation: flash 2s ease-out;
  animation: flash 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius:40px;
  padding:0px 20px;
}

ion-item{
  white-space: normal;
  overflow:visible;
}

@-moz-keyframes ion-android-arrow-down {
  0% {-moz-transform: scale(0);opacity: 0.2;}
  25% {-moz-transform: scale(0);opacity: 0.2;}
  50% {-moz-transform: scale(0.1);opacity: 0.5;}
  75% {-moz-transform: scale(0.5);opacity: 0.8;}
  100% {-moz-transform: scale(1);opacity: 0.2;}
}

@-webkit-keyframes "flash" {
  0% {-webkit-transform: scale(0);opacity: 0.2;}
  25% {-webkit-transform: scale(0);opacity: 0.2;}
  50% {-webkit-transform: scale(0.1);opacity: 0.5;}
  75% {-webkit-transform: scale(0.5);opacity: 0.8;}
  100% {-webkit-transform: scale(1);opacity: 0.2;}
}
